name: CI

on:
    pull_request:
        branches: [main]
    push:
        branches: [main, dev]

permissions:
    contents: read
    packages: read

jobs:
    ci:
        uses: octopus-synapse/octopus-workflows/.github/workflows/ci.yml@main
        with:
            node-version: "20"
            has-database: false
            has-redis: false
            build-output-dir: "dist"
        secrets:
            NODE_AUTH_TOKEN: ${{ secrets.GH_PAT }}
